{
  "extends": "airbnb-base",
  "rules": {
    "no-console": "off",
    "no-underscore-dangle": ["error",{"allow":["_id"]}], // выключение посвечивания ошибки с _id
    "linebreak-style": ["error", "windows"], // ошибки форматирования при запуске на разных ОС
    "import/extensions": [ // Выключение ошибки импортов вместо require
      ".js",
      ".jsx"
    ]
  }
}