@import url(../../vendor/css/normalize.css);
@import url(../../vendor/fonts/stylesheet.css);

body {
  margin: 0;
  font-family: "Yandex Sans Display", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
